<div id="header">
    <a href="/">
        <div id="header-container">
            <div class="logo-container">
                <h5>planner_app</h5>
        </div>
    </a>
        <div class="nav-container">
            <nav>
                <ul>
                <li><%= link_to 'Categories', categories_path, class: "low-contrast" %></li>
                <li><%= link_to 'Create Category', new_category_path, class: "low-contrast" %></li>
                </ul>
            </nav>
        </div>
    </div>
</div>