<div class="title-area">
    <h1>Categories</h1>
</div>

<div class="container">
    <% @categories.each do |category| %>
        <div class="category" style="box-shadow: 10px 10px 0 0 <%= category.color %>;">
            <div class="category-text">
                <h5><%= link_to category.name, category %></h5>
            </div>
            <%= link_to '<i class="lni lni-checkbox"></i>&emsp;Add Task'.html_safe, new_category_task_path(category) %>
        </div>
    <% end %>
</div>